[submodule "deps/amdovx-core"]
	path = deps/amdovx-core
	url = https://github.com/GPUOpen-ProfessionalCompute-Libraries/amdovx-core
[submodule "utils/inference_generator/deps/NNEF-Tools"]
	path = utils/inference_generator/deps/NNEF-Tools
	url = https://github.com/KhronosGroup/NNEF-Tools.git
